/dist
/node_modules
/docs/node_modules
/package-lock.json
/docs/package-lock.json
/pnpm-lock.yaml
/docs/pnpm-lock.yaml

/docs/.next
/docs/dist
/docs/.source

/.turbo
/coverage
/.tsup
/.vscode
.vercel
